.category{
    height: 250px;
    position: relative;
    overflow: hidden;
}
.category-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);    
}
.scale{ 
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.category-defocus{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.8;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
}
.category-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.category h5{
    width: 100%;
}
.category p{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cmul > li{
    display: block;
    overflow: auto;
    padding: 5px 10px;
}
.category-thumbnail{
    width: 80px;
    height: 60px;
}