/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Feb, 2015, 8:26:12 PM
    Author     : atharva
*/
.medium-editor-toolbar{
    z-index: 999999 !important;
}
.container{
    width: 100% !important;
}

/** thread and related **/
.avatar{
    width: 45px;
    height: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-size: cover;    
    border-radius: 3px;
    background-position: 50% 50%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-repeat: no-repeat;
}
.new-thread-button, .new-post-view > div{
    padding: 30px 20px;
    border-bottom: 1px solid rgba(100,100,100,0.1);
}
.new-thread-button li ,.new-post-view li{
    display: inline-block;
    vertical-align: middle;
}
.thread-options{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    padding: 0px 0px;
    margin: 0;
}
.thread-stats-icon{
    padding: 0 25px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.thread-title-input{
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid rgba(235,235,235,0.5);
    font-family: 'Open Sans Black' !important;
    letter-spacing: 0.00em;
    width: 100%;
    font-weight: 300;
    color: rgba(0,0,0,0.8);
    font-size: 24pt;
    line-height: 28pt;
}
.thread-tags-input{
    background: transparent;
    font-size: 14px;
    border: 1px solid transparent;
    float: left;
    padding: 7px 7px 7px 0;
    margin-top: 5px;
    font-family: 'Open Sans';
    width: 183px;
}
.thread-input-category{
    border: 1px solid rgba(0,0,0,0.1);
}
.thread-image-preview{
    width: 100%;
    background: #f5f5f5;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: -webkit-grabbing;
    position: relative;
    text-align: center;
}
.image-upload-progress{
    vertical-align: top;
    border-radius: 0px;
    border: none;
    -webkit-appearance: none;
    height: 5px;
}
.image-upload-progress::-webkit-progress-bar{
    background-color: #f5f5f5;
}
.image-upload-progress::-webkit-progress-value{
    background-color: #1A73CC;
/*    transition : width 2s linear;
    -webkit-transition : width 2s linear;
    -moz-transition : width 2s linear;*/
}
.editable-wrapper{
    display: none;
    padding: 30px 20px;
    border: 2px dashed #fff;
}
.editable{
    display: block;
    min-width: 100px;    
    min-height: 150px;
    font-size: 11pt !important;
    line-height: 1.5 !important;
    padding-top: 10px;
    font-family: 'Merriweather' !important;
    overflow: auto;    
    cursor: inherit;    
}
blockquote[removed]{
    border-left: none;
}
button{
    padding: 6px 12px;
    color: #1ba1e2; 
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-family: 'Open Sans Bold';
    border: 2px solid #1ba1e2;
    min-width: 115px;
    background: #fff;
    font-size: 13.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color, background 200ms ease-in-out;
    -webkit-transition: color, background 200ms ease-in-out;
    -moz-transition: color, background 200ms ease-in-out;
}
button:hover{
    background: #1ba1e2;
    color:#fff;
}
button:active{
    box-shadow: inset 0 0 20px #1b6eae;
}
.serif-italic{
    font-family: 'Merriweather Italic';
}
.progress{
    position: fixed;
    width: 0%;
    top: 50px;
    height: 2px;
    background: #FF1B23;
    display: block;
    transition:all 1s linear;
    z-index: 9999999;
}
.thumbnail{
    background-size: cover;
    height: 250px;
    background-repeat: no-repeat;
    overflow: hidden;
}
.thread-desc{
    overflow: hidden;
    height: auto;
    max-height: 200px;
}
.dropdown.thread-options-dropdown,.dropdown.tag-autocomplete-dropdown{
    position: absolute;
    display: block;
    width: 175px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    background: #fff;
}
.dropdown.tag-autocomplete-dropdown{
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    margin-top: 2px;
    max-height: 250px;
    overflow: auto;
}
.dropdown.thread-options-dropdown > ul > li,.dropdown.tag-autocomplete-dropdown > ul > li{
    display: block !important;
}
.dropdown.thread-options-dropdown > ul > li > a ,.dropdown.tag-autocomplete-dropdown > ul > li > a{
    padding: 5px 7px 5px 13px;
    color: inherit !important;
    font-size: 10pt;
    display: block;
    border-bottom: 1px solid rgba(235,235,235,0.3);
    transition: all 2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;    
}
.dropdown.tag-autocomplete-dropdown > ul > li > a{
    padding: 7px 5px 7px 13px;
    font-family: 'Open Sans';
    color: #333 !important;
}
.dropdown.thread-options-dropdown > ul > li > a:hover,.dropdown.tag-autocomplete-dropdown > ul > li > a:hover{
    background: rgba(235,235,235,0.7);
}
.load-more{
    display: table;
    margin: 20px auto;
    height: 120px;
    width: 120px;
    cursor: pointer;
}
.load-more > a{
    text-transform: uppercase;
    padding: 0 9px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    display: table-cell;
    vertical-align: middle;
    color: #4090db !important;
}
.load-more:before{   
    height: 120px;
    width: 120px;
    border: 2px solid #4090db;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    content: '';
    position: absolute;    
}
.dot-center{
    padding: 0 7px 0 5px;
}
.dot-center:after{
    content: '.';
    position: absolute;
}
.link:hover{
    text-decoration: underline;
}
small .dot{
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
small .dot:nth-child(2){
    animation-delay: 0.2s;
}
small .dot:nth-child(3){
    animation-delay: 0.4s;
}
@keyframes blink{
    0%{
        opacity: 0.2;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}
.featured-threads{
    padding: 0px 20px;
}
.featured-threads > ul > li{
    display: block;
    width: auto;
    padding: 10px 0 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    cursor: pointer;
}
.featured-threads > ul > li > .desc{
    float: none;
    display: block;
    margin-left: 65px;
}
.featured-threads > ul > li .round-count{
    float: left;
    width: 40px;
    height: 40px;
    line-height: 1;
    background-color: rgba(255,255,255,0.97);
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 100%;   
    color: rgba(0,0,0,0.44);
    overflow: hidden;
}
.featured-threads > ul > li .round-count > span{
    text-align: center;
    display: block;
    line-height: 39px;
}
.featured-threads > ul > li > .desc > .thread-title{
    letter-spacing: -0.02em;
    font-style: normal;
    color: rgba(0,0,0,0.8);
    font-size: 14px;
    font-weight: 400;
    max-width: 96%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.featured-threads > ul > li > .desc > .thread-title > a{
    color: inherit !important;    
}
.featured-threads > ul > li > .desc > .thread-title > a:hover{
    text-decoration: underline;
}
.featured-threads > ul > li > .desc > .thread-user{
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 0;
    color: rgba(0,0,0,0.3); 
}
.featured-threads > ul > li > .desc > .thread-user > a{
    color: inherit !important;
}
.featured-threads > ul > li > .desc > .thread-user > a:hover{
    text-decoration: underline;
}
.transUp{
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;    
}
.transDown{
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}
.report-spam{
    padding: 0px 10px 10px 20px;
    background: #f7f7f7;
    border:1px solid rgba(235,235,235,0.5);
}
.report-spam > ul > li{
    cursor: pointer;
    display: block;
}
.report-spam > ul > li > p > input[type="radio"]{
    vertical-align: text-top;
    margin: 4px 5px;
}
.rptspam-btn{
    font-size: 12px !important;
    padding: 5px 2px !important;
    border: 1px solid #1ba1e2;
}
.unhide-box{
    margin: 10px 0 !important;
    padding: 15px !important;
}
.unhide-box > p > a{
    padding: 0px 5px;
    font-size: 13px;
    font-family: 'Open Sans Bold' !important;
}
.new-post-view{
    display: none;
    width: 100%;
}
.notificationli{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
}
.notificationli > a{
    display: block;
}
.upload_image_toggle{
    color: rgba(0,0,0,0.2);
    transition: all 2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}
.upload_image_toggle:hover{
    color: rgba(0,0,0,0.4);
}
.tilt{
    transform: rotate(45deg);
}