/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 Mar, 2015, 3:11:05 PM
    Author     : mihirk
*/
.container{
    width: 100% !important;
}
/** thread.css */
.avatar{
    width: 45px;
    height: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-size: cover;    
    border-radius: 3px;
    background-position: 50% 50%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-repeat: no-repeat;
}
.new-thread-button{
    padding: 20px;
}
.new-thread-button li{
    display: inline-block;
    vertical-align: middle;
}
.thread{
    margin-top: 10px;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(100,100,100,0.1);
}
li.thread:last-child{
    border-bottom: none;
}
.thread li{
    display: inline-block;
    vertical-align: middle;
}
.thread ul li > a{
    color: #09f;
}
.thread-options{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    padding: 0px 0px;
    margin: 0;
}
.serif-italic{
    font-family: 'Merriweather Italic';
}
.thumbnail{
    background-size: cover;
    height: 250px;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: -webkit-zoom-in !important;
}
.thread-desc *{
    font-size: 12pt;
}
.reply-desc *{
    font-size: 11pt !important;
}
.thread-desc img{
    cursor: -webkit-zoom-in;
}
.dropdown.thread-options-dropdown {
    position: absolute;
    display: block;
    width: 175px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    background: #fff;
}
.dropdown.thread-options-dropdown > ul > li{
    display: block !important;
}
.dropdown.thread-options-dropdown > ul > li > a {
    padding: 5px 7px 5px 13px;
    color: inherit !important;
    font-size: 10pt;
    display: block;
    border-bottom: 1px solid rgba(235,235,235,0.3);
    transition: all 2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;    
}
.dropdown.thread-options-dropdown > ul > li > a:hover{
    background: rgba(235,235,235,0.7);
}
.dot-center{
    padding: 0 7px 0 5px;
}
.dot-center:after{
    content: '.';
    position: absolute;
}
.link:hover{
    text-decoration: underline;
}
.editable-wrapper{
    display: none;
    padding: 30px 20px;
    border: 2px dashed #fff;
    border-bottom: 1px solid rgba(235,235,235,0.5);
}
.editable{
    display: block;
    min-width: 100px;
    min-height: 150px;
    font-size: 11pt !important;
    line-height: 1.5 !important;
    font-family: 'Merriweather' !important;
    overflow: auto;    
    cursor: inherit;    
}
button{
    padding: 6px 12px;
    color: #1ba1e2; 
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-family: 'Open Sans Bold';
    border: 2px solid #1ba1e2;
    min-width: 115px;
    background: #fff;
    font-size: 13.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color, background 200ms ease-in-out;
    -webkit-transition: color, background 200ms ease-in-out;
    -moz-transition: color, background 200ms ease-in-out;
}
button:hover{
    background: #1ba1e2;
    color:#fff;
}
button:active{
    box-shadow: inset 0 0 20px #1b6eae;
}
.reply{
    margin-bottom: 20px;
    padding: 0 20px 10px 20px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.reply-owner li{
    display: inline-block;
    vertical-align: middle;
}
.reply-comment-input{
    width: 100%;
    padding: 5px 0;
    margin-bottom: 5px;
    border: 1px solid;
    border-color: transparent transparent rgba(0,0,0,0.05) transparent;
    font-size: 11pt;
    font-family: 'Open Sans';
    color: rgba(0,0,0,0.6);
}
li.reply-comment{
    font-family: 'Open Sans';
    font-size: 10pt;
    color: rgba(0,0,0,0.6);
    position: relative;
    padding: 0 20px 5px 0;
}
li.reply-comment:not(:last-child){
    border-bottom: 1px solid rgba(0,0,0,0.05);
    margin-bottom: 5px;
}
.comment-remove{
    display: none;
    color: rgba(0,0,0,0.2);
    position: absolute;
    right: 0;
    top: 3px;
}
.comment-remove:hover{
    color: rgba(0,0,0,0.5);
}
.reply-comment:hover .comment-remove{
    display: block;
}
.reply-remove{
    display: none;
    color: rgba(0,0,0,0.2);
}
.reply-remove:hover{
    color: rgba(0,0,0,0.5);
}
.reply:hover .reply-remove{
    display: block;
}
.scaleUp{
    opacity: .99 !important;
    transform-style: preserve-3d;
    transition: all 0.25s ease-in-out;
}
.pop-in{
    -webkit-animation: scale-fade 300ms forwards cubic-bezier(.8, .02, .45, .91);
    //-webkit-animation:pop-in 0.1s;
    //-webkit-animation-timing-function: ease-in-out;
    transform-origin: bottom center;
}
@-webkit-keyframes scale-fade{
    0%{
        opacity:0;
        -webkit-transform:scale(.8) rotateX(-40deg);
    }
    50%{
        opacity:1
    }
    70%{
        -webkit-transform:scale(1.05) rotateX(0);
    }
    100%{
        -webkit-transform:scale(1) rotateX(0);
        }
}
@-webkit-keyframes pop-in {
    0% { 
        opacity: 0; -webkit-transform: scale(0.33); 
    }
    50%{
        opacity: .5; -webkit-transform: scale(0.66); 
    }
    100% { 
        opacity: 1; -webkit-transform: scale(1); 
    }
}
.image-theatre-wrapper {
    background-color: rgb(255, 255, 255);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 9999999;
    display: block;
}
.area-photo {
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.theatre-photo-container {
    display: none;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 20px 0 20px 0;
    position: absolute;
    color: #fff;
    text-align: center;
}
img.theatre-photo {
    max-width: 100%;
    max-height: 100%;
    opacity: .0;
    transform: scale(1);
    cursor: -webkit-zoom-out !important;
}
.stats-span span{
    padding: 5px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;    
}
.upvotes-to-thread{
    background: #fff;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}
.highlight-bg{
    background: #ffffcc;
}
#rm-upvote-thread, #upvote-thread{
    padding: 5px 15px;
    display: inline-block;
    border-radius: 5px;
    margin: auto !important;
}
.modal-wrapper{
/*    background: rgba(63,63,68,.8);*/
    background: rgb(255,255,255);
    padding: 7px 10px;
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
}
.modal-content {
    border-radius: 4px;
    margin: 40px auto;
    height: auto;
}
.modal-content ul{
    height: auto;
    overflow: auto;
}
.modal-content ul > li{
    display: block;
    padding: 15px 10px;
}
.modal-content-history ul > li{
    display: inline-block !important;
}
.modal-content ul > li > a{
    display: block;
}
.modal-content ul > li:hover{
    background: rgba(0,0,0,0.03);
}
.modal-content-history ul > li:hover{
    background: none !important;
}
/*edit*/
.thread-title-input {
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid rgba(235,235,235,0.5);
    font-family: 'Open Sans Black' !important;
    letter-spacing: 0.00em;
    width: 100%;
    font-weight: 300;
    color: rgba(0,0,0,0.8);
    font-size: 24pt;
    line-height: 28pt;
}
.editableon{
    box-shadow: 0px 0px 10px 2px rgba(63,63,63,0.4);
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.thread-edit-save,.cancel-edit-thread{
    padding: 5px 12px;
    display: inline-block;
    border-radius: 5px;
    margin: auto !important;
    font-size: 14px;
}
.reposition{
    cursor: -webkit-grabbing !important;
}
del {
    text-decoration: none;
    background: rgba(245,0,0,0.1) !important;
    display: block;
}
ins {
    text-decoration: none;
    background: rgba(0,245,0,0.2) !important;
    display: block;
}
.inner-thread-stats {
    width: 100%;
}
.sticky-thread-stats {
    position: fixed;
    bottom: 0;
    left: auto;
    padding: 5px 10px 0 10px;
    width: inherit;
    margin: auto;
    background: #fff;
    border-top: 1px solid #eae9ed;
}